.navbar { /*pins the contents to left of page*/
    position: fixed;
    top: 0px;
    left: 0px;    
    height: 3em;
    width: 100%;
    background-color: rgba(100,100,100, 0.5);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 1em;
    
}